body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 100px 0;
}

h3 {
    font-style: italic;
    font-size: 42px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

h4 {
    font-weight: 600;
    font-size: 44px;
    margin-bottom: 20px;
}

/*===========================header==========================*/
.main-header {
    background: linear-gradient(45deg, rgba(255, 3, 8, .75) 2%, rgba(8, 6, 250, 1) 100%), url(../img/header-img.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    position: relative;

}

.main-header .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 42px;
}

.main-header .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
}

.main-header .navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 1px;
    transform: scale(0);
    transition: .3s;
}

.main-header .navbar-nav .nav-item .nav-link:hover::after {
    transform: scale(1);
}

.main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 600px;
    color: #ffffff;
    padding: 20px;
}

.main-header-buttons {
    padding-left: 30px;
}

.btn {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .75;
}

.btn:hover {
    color: #ffffff;
    opacity: 1;

}

.main-header-buttons .btn {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    margin-top: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .5);
    transition: all .3s;
}

.btn-pink {
    background-color: #f42267;

}

.btn-violet {
    background-color: #7e3596;

}

.wrap-header {

}

.img-header {
    position: absolute;
    right: 130px;
    width: 45%;
    bottom: 0;
}

.navbar-toggler-icon {
    color: #ffffff;
}

/*==========================section watch========================*/
.section-watch {
    background: url(../img/world-map.png) center no-repeat;
    background-size: cover;
}

.section-watch h3,
.section-watch h4 {
    color: #484848;
}

.section-tabs .nav-pills {
    margin-bottom: 45px;
}

.section-tabs .nav-pills .nav-link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #484848;
}

.section-tabs .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #f42267;
    color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .35);
}

.btn-shadow {
    box-shadow: 0 10px 0 rgba(255, 89, 144, .7);
    border-radius: 10px;
    padding: 10px 25px;
    transition: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 8px 0 rgba(255, 89, 144, .7);
    color: #ffffff;
    background-color: #da1757;
}

/*========================Progress Section=========================*/
.section-progress {
    background-color: #4b2d7f;
    color: #ffffff;
    font-size: 15px;
    padding: 0;
}

.section-progress i {
    font-size: 70px;

}

.section-progress .num {
    font-size: 50px;
    font-weight: 600;
    margin: 30px 0 20px;
}

.progress-item h4 span {
    font-weight: 600;
    font-size: 30px;
}

.section-progress .progress-item h4 {
    font-weight: 400;
    font-size: 25px;
    height: 72px;
    overflow: hidden;
    /*width: 250px;*/
    /*margin: 0 0 40px 50px;*/
}

.section-progress .progress-item {
    padding-top: 80px;
    padding-bottom: 80px;
    transition: all .5s;
}

.section-progress .progress-item:hover {
    background-color: #40286a;
    cursor: pointer;

}

/*=============================section-lets==================*/
.section-lets {
    background: url(../img/letsgrow.png) center no-repeat;
    background-size: cover;
}

.section-lets h3,
.section-lets h4,
.section-lets p {
    color: #ffffff;
}

.section-lets h3 {
    font-size: 48px;
}

.section-lets h4 {
    font-size: 50px;
    font-weight: 600;
}

.section-lets p {
    font-size: 20px;
}

/*=============================section-design==================*/
.section-design h2 {
    font-size: 25px;
    font-weight: 600;
    color: #484848;
}

.section-design h3 {
    font-size: 33px;
    color: #484848;
}

.section-design h4 {
    font-size: 50px;
    font-weight: 600;
    color: #484848;
}

.section-design i {
    font-size: 80px;
    background: linear-gradient(45deg, rgba(255, 3, 8, .75) 2%, rgba(8, 6, 250, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 15px;
}

.section-design p {
    font-size: 14px;
}

.embed-responsive {
    position: relative;
    border-radius: 10px;
}

#videoPlayBtn {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    cursor: pointer;
    top: 0;
    background: url(../img/play.png) center no-repeat;
}

/*=============================section-work===========================*/
.section-work {
    background-color: #f1f1f1;
}

.section-work h4 {
    font-size: 50px;
    font-weight: 600;
    color: #333333;
}

.section-work p {
    font-size: 20px;
    color: #333333;
}

.gallery-item {
    margin-bottom: 20px;
}

.gallery a img {
    transition: all .5s;
    box-shadow: 0 10px 0 -15px rgba(0, 0, 0, .2);
}

.gallery a:hover img {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .5);
}

/*=============================section-client===========================*/
.section-client {
    background-color: #4b2d7f;
}

/*=============================section-reviews===========================*/
.section-reviews {
    background: url(../img/happy-bg.png) center no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 0;
}

.section-reviews .carousel-caption {
    top: 5%;
    bottom: auto;
    text-align: left;
}

.section-reviews h3 {
    font-size: 40px;

}

.section-reviews h4 {
    font-size: 50px;
    font-weight: 600;
}
.section-reviews .blockquote{
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    position: relative;
    padding-left: 40px;
    margin-top: 70px;
}
.section-reviews .blockquote::before{
    content: '\201C';
    font-size: 200px;
    font-weight: 500;
    color: #f42267;
    position: absolute;
    top: -120px;
    left: -55px;
}
.section-reviews .blockquote-footer{
    margin-top: 80px;
}
/*large Devices, Wide Screen*/
@media only screen and(max-width: 1200px) {

}

/*Medium Devices, Desktops*/
@media screen and (max-width: 992px) {
    .img-header {
        position: absolute;
        right: 18px;
        width: 50%;
        bottom: 0;
    }

    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .main-header-text {
        position: absolute;
        top: 15%;
        left: 5%;
        max-width: 500px;
        color: #ffffff;
        padding: 20px;
    }
    .section-reviews h3 {
        font-size: 20px;

    }

    .section-reviews h4 {
        font-size: 30px;

    }
    .section-reviews .blockquote{

        font-size: 16px;

    }
    .section-reviews .blockquote::before{

        font-size: 160px;

    }
    .section-reviews .blockquote-footer{
        margin-top: 30px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
        position: relative;
        z-index: 1;
        padding: 0 15px;
    }
}

/*mall Devices, Tablets*/
@media only screen and (max-width: 768px) {
    .main-header-text {
        left: 0;
        margin: 0px 0px;
        max-width: 100%;
    }

    .img-header {
        position: absolute;
        right: 18px;
        width: 50%;
        bottom: 0;
    }

    section {
        padding: 50px 0;
    }

    .section-progress .progress-item {

        padding-bottom: 0px;

    }
    .section-reviews h3 {
        font-size: 20px;

    }

    .section-reviews h4 {
        font-size: 25px;

    }
    .section-reviews .blockquote{
        margin-top: 20px;
        font-size: 14px;
        padding-left: 0;

    }
    .section-reviews .blockquote::before{
        content: '\201C';
        font-size: 60px;
        font-weight: 500;
        color: #f42267;
        position: absolute;
        top: -30px;
        left: -50px;
    }
    .section-reviews .blockquote-footer{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .main-header-text {
        top: 90px;
        left: 0;
        margin: 0px 0px;
        max-width: 100%;
    }

    .main-header-text h3 {
        font-size: 30px;
    }

    .main-header-text h4 {
        font-size: 25px;
    }

    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .img-header {
        position: absolute;
        right: 18px;
        width: 90%;
        bottom: 0;
    }

    .section-watch .nav-pills {
        margin-bottom: 35px;
    }

    .btn-shadow {
        box-shadow: 0 10px 0 rgba(255, 89, 144, .7);
        border-radius: 10px;
        padding: 10px 15px;
        transition: all .5s;
    }

    .section-progress .progress-item {
        padding-top: 40px;
    }

    .section-client div img {
        margin-bottom: 40px;
    }

}
@media only screen and (max-width: 575px){
    .section-reviews .carousel-caption{
        position: static;
        width: 70%;
        margin: auto;
    }
}
@media only screen and (max-width: 480px) {
    .section-watch h3 {
        font-size: 25px;
    }

    .section-watch h4 {
        font-size: 35px;
    }

    .section-watch .nav-pills .nav-item {
        width: 100%;
        text-align: center;
    }
}